<div class="container" ng-controller="mainCtrl">
	
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    	<div class="quizContent clearfix">
            <form>
                <quizbox></quizbox>
                
                <div class="btn-block text-center">
                    <p style="color:#FFF">{{ans}}</p>
                    <button class="btn btn-default" ng-click="showResult(ans)">Submit</button>
                </div>
                
                <div class="col-xs-12 text-center showResult">
                    <h1>you got {{ correctCount }} out of {{questions_count.length}} right</h1>
                </div>
            </form>	
         </div>   
     </div>

</div>
